{% extends 'shop/Base.html' %}
{% load static %}
{% block title %} product {% endblock %}

{% block content %}
<div class="product-page-container">

    <div class="product-title">
        {{product.name}}
    </div>

    <div class="product-block">
        <div class="product-img">
            <img src="{% get_media_prefix %}/{{product.image}}">
        </div>
        <div class="product-main">
            <div class="product-actions-container {% if product.amount < 1 %}out{% endif %}">
                <div class="product-price">
                    <div class="price">{{product.price}}₴</div>
                    <div class="amount">
                        {% if product.amount < 1 %}
                            Out of stock
                        {% else %}
                            Available
                        {% endif %}
                    </div>
                </div>
                {% csrf_token %}
                <form method="post" action="{% url 'add' %}">
                    {% csrf_token %}
                    <button type="submit" class="addtocart-button" name="product_id" value="{{ product.id }}">
                        <i class="icon-shopping-cart"></i>Add to cart
                    </button>
                </form>
            </div>
            <div class="product-about">
                {{product.description}}
            </div>
        </div>

    </div>

</div>

{% endblock %}