{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% get_providers as socialaccount_providers %}
{% block content %}


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="signup-header">Sign up</div>

  {{ form.as_p }}

  <button type="submit">Sign Up</button>
  <p><a href="{{ login_url }}">sign in</a></p>

  <p>Or sign up with</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
    <img src="{% get_media_prefix %}/icons/google.ico">

      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
</form>

{% endblock %}
