.inventory{
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    margin-top: 5rem;
}

.product-container{
    transition: .2s;
    border: white 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(224,224,224,1);
    justify-content: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items: center;
    margin: auto auto 3rem;
}

.product-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px rgba(224,224,224,.8);
    cursor: pointer;
}

.product-container .product-desc .product-name{
    font-size: large;
    padding: 0 10px;
}

.product-container .product-desc .product-price{
    margin-top: 0.5rem;
    color: red;
    text-align: end;
    font-size: large;
    padding: 0 10px;
    margin-bottom: .5rem;
}

.product-image{
    height: 400px;
    width: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}