{% extends 'shop/Base.html' %}
{% load static %}
{% block title %} Home page {% endblock %}

{% block content %}

<div class="inventory">
{% for product in products %}
    <div class="product-container" onclick="location.href='/product/{{product.pk}}'">
        <div class="product-image" style='background-image: url("{% get_media_prefix %}/{{product.image}}")'>
        </div>
        <div class="product-desc">
            <div class="product-name">
                <label>{{product.name}}</label>
            </div>
            <div class="product-price">
                <label>{{product.price}}₴</label>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}